<!-- Main Carousel
  ================================================== -->
<div class="row">
  <ul id="main-carousel" class="jcarousel-skin-tango" >
    <!-- start carousel -->
    <% @projects.each do |project| %>
    <li>
      <div class="carousel-box">
        <div class="block view">
          <%= image_tag project.posters.first.poster_link(:medium) %>
          <div class="mask">
            <div class="mask-icon">
              <div class="quartercircletopleft-mask"><a href="#"></a></div>
              <div class="quartercircletopright-mask"><a href="#"></a></div>
              <div class="quartercirclebottomright-mask"><a href="#"></a></div>
              <div class="quartercirclebottomleft-mask"><a href="#"></a></div>
              <!--<a href="img/sliders/carousel/img01.jpg" data-rel="prettyPhoto" class="zoom-icon"></a>-->
            </div><!-- mask-icon -->
          </div><!-- mask -->
        </div><!-- block -->
        <h4><%= project.movie_title %></h4>
        <div class="border-5-1"></div>
      </div><!-- carousel-box -->
    </li>
    <% end %>
  </ul><!-- #projects-carousel -->
</div><!-- row -->


<!-- Services Block
================================================== -->
<div class="row">
  <div class="span3">
    <div class="services clearfix">
      <h4 class="colored">Hey.<br/>We are a team of web developers with a sense of style and uniqueness.</h4>
      <p>Maecenas purus metus, interdum eu auctor eu, dignissim nec nisl. Suspendisse luctus placerat augue a cursus. Mauris sit amet odio ac urna placerat blandit at commodo eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <a href="#" class="rm-link">View all services</a>
    </div><!-- services -->
  </div><!-- span3 -->

  <div class="srv-block">
    <div class="srv-block1">
      <h4 class="colored">Easy to Customize</h4>
      <p class="italic">Maecenas purus metus, interdum eu auctor eu, dignissim nec nisl. Suspendisse luctus placerat augue a cursus. Mauris sit amet odio ac urna placerat blandit at commodo eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <div class="quartercircletopleft"><a href="#"></a></div>
    </div><!-- srv-block1 -->
    <div class="srv-block2">
      <h4 class="colored">Support All Major Browsers</h4>
      <p class="italic">Legere semper everti at has, ea wisi periculis est, eos ut ullum error perfecto. Labores democritum ius cu, stet instructior mediocritatem eu mea. Ius ex saperet evertitur. Est in quot detraxit, soleat senserit no vis. Mei meis timeam maiorum et, te esse quas maluisset.</p>
      <div class="quartercircletopright"><a href="#"></a></div>
    </div><!-- srv-block1 -->
    <div class="srv-block3">
      <h4 class="colored">Clean &amp; Creative</h4>
      <p class="italic">Sed tale decore facete ad, lorem accusam electram at has. Iusto sententiae interpretaris mea ei, eum at eirmod vivendo. Soluta honestatis eam no, eu quo elitr semper, primis animal tamquam est eu. Vix id aliquam intellegam eloquentiam. Ne vel sumo ludus vivendum, cum eros magna delicata at. Dolore labores eos an, ut has quot commodo habemus.</p>
      <div class="quartercirclebottomleft"><a href="#"></a></div>
    </div><!-- srv-block1 -->
    <div class="srv-block4">
      <h4 class="colored">24 Hours Support</h4>
      <ul class="italic unstyled">
        <li><i class="icon-white icon-time"></i><p>Backup &amp; recover data 24/7 for enhanced security.</p></li>
        <li><i class="icon-white icon-briefcase"></i>Project/Program assessment &amp; management.</li>
        <li><i class="icon-white icon-lock"></i>Internet-based data protection.</li>
        <li></li>
      </ul>
      <div class="quartercirclebottomright"><a href="#"></a></div>
    </div><!-- srv-block1 -->
  </div><!-- srv-block -->
</div><!-- row -->