<div class="row margin40">
  <div class="span3"><div class="border-5-1"></div></div>
  <div class="span9"><div class="border-5-1 hide-border"></div></div>
</div><!-- row -->

<!-- Footer
================================================== -->
<footer class="footer row">
  <div class="span3">
    <div class="logo-footer widget">
      <h5>Contact Info</h5>
      <ul id="contact-info" class="clearfix">
        <li><i class="icon-map-marker icon-white"></i>12345 / Some Street, Portland, USA</li>
        <li><i class="icon-user icon-white"></i>phone: +1 (44)  123-45-67</li>
        <li><i class="icon-headphones icon-white"></i><a href="skype:echo123?call">Skype Me</a></li>
        <li><i class="icon-envelope icon-white"></i><a href="mailto:support@color-theme.com">support@color-theme.com</a></li>
        <!--
                  <li><i class="location"></i><p>12345 / Some Street<br>Portland, USA</p></li>
                  <li><i class="phone"></i><p>phone: +1 (44)  123-45-67</p></li>
                  <li><i class="skype"></i><p><a href="skype:echo123?call">Skype Me</a></p></li>
                  <li><i class="email"></i><p class="last"><a href="mailto:support@color-theme.com">support@color-theme.com</a></p></li>
        -->
      </ul>
    </div><!-- logo-footer -->
  </div><!-- span3 -->

  <div class="span9 footer-widgets clearfix">
    <div class="widget">
      <h5>Popular Posts</h5>
      <ul class="popular-posts">
        <li>
          <a href="#"><img src="img/blog/widgets/img01-40x40.jpg" alt="" /></a>
          <a href="#">Artistic Wormhole</a>
          <span class="date">June 24, 2012</span>
        </li>
        <li>
          <a href="#"><img src="img/blog/widgets/img02-40x40.jpg" alt="" /></a>
          <a href="#">Incredible Alcatraz</a>
          <span class="date">June 22, 2012</span>
        </li>
        <li>
          <a href="#"><img src="img/blog/widgets/img03-40x40.jpg" alt="" /></a>
          <a href="#">Miniature Cathedral of Trier</a>
          <span class="date">May 09, 2012</span>
        </li>
      </ul>
    </div><!-- .widget -->

    <div class="widget">
      <h5>Latest Posts</h5>
      <ul class="latest-posts">
        <li>
          <a href="#"><img src="img/blog/widgets/img04-40x40.jpg" alt="" /></a>
          <a href="#">Who's Boss here</a>
          <span class="date">Jule 02, 2012</span>
        </li>
        <li>
          <a href="#"><img src="img/blog/widgets/img01-40x40.jpg" alt="" /></a>
          <a href="#">Artistic Wormhole</a>
          <span class="date">June 24, 2012</span>
        </li>
        <li>
          <a href="#"><img src="img/blog/widgets/img05-40x40.jpg" alt="" /></a>
          <a href="#">Flickr Eggs</a>
          <span class="date">May 14, 2012</span>
        </li>
      </ul>
    </div><!-- .widget -->

    <div class="widget">
      <h5>Flickr Photos</h5>
      <ul class="flickr thumbs"></ul>
    </div><!-- .widget -->

  </div><!-- footer-widgets -->
</footer>

<div id="bottom-panel" class="clearfix">
  <span class="site-name">Claystone - Responsive HTML Template</span>
  <span>Copyright &copy; 2012. Designed by <a href="http://themeforest.net/user/ZERGE?ref=zerge">ZERGE</a> for <a href="http://themeforest.net/user/ZERGE/portfolio?ref=zerge">Themeforest</a>.</span></div>

</div><!-- /container -->
